doctype html
html(lang='en')
  head
    link(rel='stylesheet' type='text/css' href='./css/main.css')
  body
    #impress
      #good-side
        #sql.step(data-z=-1)
          #sql-header SQL
        h1#what-is.step(data-x=300 data-y=0 data-rotate=90 data-scale=0.25) Structured Query Language

      #evil-side
        #inject.step(data-z=-2 data-rotate-y=180): h1 SQL Injection


    script(type='text/javascript' src='./js/impress.js')
    script.
      impress().init()
